In [1]:
import pandas as pd

hr_df = pd.read_csv("HR_comma_sep.csv")
hr_df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [2]:
t_data = hr_df['left']
s_data = hr_df[['satisfaction_level', 'last_evaluation', 'time_spend_company']]

In [3]:
from sklearn.linear_model import LogisticRegression

ロジスティック二値分類モデル = LogisticRegression()

In [4]:
ロジスティック二値分類モデル.fit(s_data, t_data)

LogisticRegression()

In [5]:
ロジスティック二値分類モデル.predict_proba(s_data)[:10]

array([[0.65719952, 0.34280048],
       [0.83283025, 0.16716975],
       [0.35012742, 0.64987258],
       [0.81408772, 0.18591228],
       [0.64942543, 0.35057457],
       [0.68362026, 0.31637974],
       [0.34863176, 0.65136824],
       [0.90241243, 0.09758757],
       [0.88809292, 0.11190708],
       [0.68981081, 0.31018919]])

In [6]:
ロジスティック二値分類モデル.predict(s_data)

array([0, 0, 1, ..., 0, 1, 0])

In [7]:
import pickle

filename = '退職率を予測モデル_20200113.sav'
pickle.dump(ロジスティック二値分類モデル, open(filename, 'wb'))

In [8]:
loaded_model = pickle.load(open(filename, 'rb'))

In [9]:
print(loaded_model)

LogisticRegression()

In [10]:
hr_df = pd.read_csv("社員データ.csv")
hr_df.head()

,社員ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary
0,1,0.38,0.53,2,157,3,0,0,sales,low
1,2,0.80,0.86,5,262,6,0,0,sales,medium
2,3,0.11,0.88,7,272,4,0,0,sales,medium
3,4,0.72,0.87,5,223,5,0,0,sales,low
4,5,0.37,0.52,2,159,3,0,0,sales,low

In [11]:
hr_df[['satisfaction_level','last_evaluation','time_spend_company']]

       satisfaction_level  last_evaluation  time_spend_company
0                    0.38             0.53                   3
1                    0.80             0.86                   6
2                    0.11             0.88                   4
3                    0.72             0.87                   5
4                    0.37             0.52                   3
...                   ...              ...                 ...
14994                0.40             0.57                   3
14995                0.37             0.48                   3
14996                0.37             0.53                   3
14997                0.11             0.96                   4
14998                0.37             0.52                   3

[14999 rows x 3 columns]

In [12]:
社員データ = hr_df[['satisfaction_level','last_evaluation','time_spend_company']]

In [13]:
loaded_model.predict(社員データ)

array([0, 0, 1, ..., 0, 1, 0])

In [14]:
loaded_model.predict_proba(社員データ)

array([[0.65719952, 0.34280048],
       [0.83283025, 0.16716975],
       [0.35012742, 0.64987258],
       ...,
       [0.6487935 , 0.3512065 ],
       [0.34509397, 0.65490603],
       [0.64942543, 0.35057457]])

In [15]:
pd.DataFrame(loaded_model.predict_proba(社員データ)).reset_index().to_csv("data.csv", index = None)

In [16]:
data = pd.read_csv("data.csv")
data = data.drop(labels = '0', axis = 1)

In [18]:
data = data.rename(columns = {'index' : 'employeeID' , '1' : 'risk'})

In [19]:
pd.DataFrame(data).to_csv('new_data.csv', index = None)

In [20]:
data

       employeeID      risk
0               0  0.342800
1               1  0.167170
2               2  0.649873
3               3  0.185912
4               4  0.350575
...           ...       ...
14994       14994  0.328729
14995       14995  0.348052
14996       14996  0.351207
14997       14997  0.654906
14998       14998  0.350575

[14999 rows x 2 columns]